*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body{
  height: 100dvh;
}

/* Container principal dividido */
#form-container{
  height: 100%;
  display: flex;
}

/* Lado esquerdo (40%) */
form {
  width: 40%;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

/* Lado direito (60%) */
#form-container::after {
  content: "";
  width: 60%;
  background: linear-gradient(135deg, #007bff, #00c6ff);
}

/* Container interno */
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  gap: 20px;
  width: 100%;
}

.input-group {
  position: relative;
  margin: 15px 0;
  flex: 1;
}

.input-group.full {
  width: 100%;
}

.input-group input {
  width: 100%;
  padding: 12px 10px;
  font-size: 16px;
  border: 1px solid #999;
  border-radius: 6px;
  outline: none;
}

.input-group label {
  position: absolute;
  left: 10px;
  top: 12px;
  color: #777;
  transition: 0.3s ease;
  pointer-events: none;
  background: white;
  padding: 0 5px;
}

.input-group input:focus + label,
.input-group input:valid + label {
  top: -8px;
  left: 8px;
  font-size: 12px;
  color: #007bff;
}

input[type="submit"] {
  padding: 10px 20px;
  width: 100%;
  height: 50px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin: 15px 0;
}
